.login-wrapper {
  background-color: #ecf0f1;
  padding: 50px;
  height: calc(100vh - 50px); }
  .login-wrapper .login-box {
    margin: 20px auto;
    padding: 25px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px; }
    .login-wrapper .login-box h3 {
      text-align: center;
      color: grey;
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
    .login-wrapper .login-box .login {
      text-align: center; }
      .login-wrapper .login-box .login input {
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 200;
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        width: 250px;
        transition: border .5s;
        margin: 10px 0;
        outline: none; }
      .login-wrapper .login-box .login input:focus {
        border: 2px solid #a20c0b;
        box-shadow: none; }
